@font-face {
  font-family: "sahel";
  src: url("./Sahel.eot"); /* IE9 Compat Modes */
  src: url("./Sahel.eot") format("embedded-opentype"), /* IE6-IE8 */ url("./Sahel.woff") format("woff"),
    /* Pretty Modern Browsers */ url("./Sahel.ttf") format("truetype"); /* Safari, Android, iOS */
}